# Julia
*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/docs/Manifest.toml
/docs/build/
/docs/site/
/test/Manifest.toml
/lcov.info
deps/deps.jl
deps/build.log
deps/downloads/
deps/usr/
deps/src/

# Editor / OS
.vscode/
.idea/
.DS_Store
*.swp
*.swo
*~

# Local caches
.cache/
.allspark_cache/
